.itemCategories .table td,
.itemCategories .table th,
.itemList .table td,
.itemList .table th
{
    vertical-align: inherit;
}

/* Fixing Pagination styles for all lists. */
.pagination-wrapper > nav {
    margin: 24px;
}
.pagination-wrapper > nav svg{
    max-width: 24px;
}
.pagination-wrapper > nav > div:first-child {
    margin-bottom: 15px;
}
.pagination-wrapper > nav > div:nth-child(2) {
    text-align: center;
}
.pagination-wrapper > nav > div:first-child > *:nth-child(2) {
    float: right;
}

/* Order status colors. */

  select[status="pending"] {
    background: #ffffff;
  }
  select[status="approved"] {
    background: #ff9800;
    color: #fff;
  }
  select[status="reject"] {
    background: #e91e63;
    color: #fff;
  }
  select[status="processing"] {
    background: #4caf50;
    color: #fff;
  }
  select[status="delivered"] {
    background:#cddc39;
  }
  select[status="completed"] {
    color: white;
    background: #00bcd4;
  }
  select[status="canceld"] {
    background: #64646412;

  }

  select#order_status option {
    color: black;
    background: white;
  }

.dataTables_filter{
    float: left !important;
}

.max-width200 {
  max-width: 200px;
}
.order_content_list {
  display: contents;
}

.order_content_list ul {
  line-height: 20px;
}

.order_content_list ul li {
  list-style: none;
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
  margin: 3px;
  padding: 0 5px;
}
.container {
  max-width: 1440px;
}

.dataTable > thead > tr > th[class*="disable_sort"]:before,
.dataTable > thead > tr > th[class*="disable_sort"]:after {
    content: "";
}