.itemCategories .table td,
.itemCategories .table th,
.itemList .table td,
.itemList .table th
{
    vertical-align: inherit;
}

/* Fixing Pagination styles for all lists. */
.pagination-wrapper  nav {
    width: fit-content;
    margin: 0 auto;
}

/* Order status colors. */

  select[status="pending"], span[status="pending"] {
    background: #ffffff;
  }
  select[status="reject"], span[status="reject"] {
    background: #e91e63;
    color: #fff;
  }
  select[status="processing"], span[status="processing"] {
    background: #4caf50;
    color: #fff;
  }
  select[status="delivered"], span[status="delivered"] {
    background:#cddc39;
  }
  select[status="completed"], span[status="completed"] {
    color: white;
    background: #00bcd4;
  }
  select[status="canceld"], span[status="canceld"] {
    background: #64646412;

  }

  select#order_status option {
    color: black;
    background: white;
  }

.dataTables_filter{
    float: left !important;
}

.max-width200 {
  max-width: 200px;
}
.order_content_list {
  display: contents;
}

.order_content_list ul {
  line-height: 20px;
}

.order_content_list ul li {
  list-style: none;
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
  margin: 3px;
  padding: 0 5px;
}
.container {
  max-width: 1440px;
}

.dataTable > thead > tr > th[class*="disable_sort"]:before,
.dataTable > thead > tr > th[class*="disable_sort"]:after {
    content: "";
}

.hover {
  position: relative;
  top: 10px;
}

.tooltip {
  /* hide and position tooltip */
  top: -30px;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 10px;
}

.tooltip.status {
  display: flex;
  flex-direction: column;
  top: -20px;
  right: 30px;
  width: auto;
}

.hover:hover .tooltip {
  /* display tooltip on hover */
  opacity: 1;
}
.tooltip button {
  color: #555;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  font-size: 1em;
  white-space: pre;
  border-radius: 4px;
  font-weight: bold;
  padding: 5px;
}
.tooltip button:hover {
  background-color: #e6e6e6;
  border: 1px solid #b6b6b6;
}

.tooltip .btn-success {
  background: #55ce63;
  color: #fff;
}

.tooltip .btn-success:hover {
  background: #4ab657;
  border: 1px solid #4ab657;
}

.tooltip .btn-danger {
  background: #f62d51;
  color: #fff;
}

.tooltip .btn-danger:hover {
  background: #e6294b;
  border: 1px solid #e6294b;
}

.alertDiv {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1005;
}

.alertDiv .alert {
  position: absolute;
  padding: 1.2em 2em;
  width: 100%;
  text-align: center;
}

/*this is due ot a bug for rendering view of orders, showing select item next to already selected driver.*/
td.hasDriver select {
    display: none;
}
.modal-open .modal{
  z-index: 9999;
}
.custom-badge-en, .custom-badge-en-parent {
  min-width: 20px;
}
.custom-badge-en-parent {
  float: right;
}
.submenu a.subdrop .custom-badge-en-parent {
  display: none;
}
.menu-title {
  display: inline-block !important;
  flex: 1;
}